<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>rms</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div style="margin-bottom: 10px;">
            </div>

            <form>
                <h4 align="center" style="padding:10px">File Information</h4>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">By Serial No</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">By File Title</label>
                        <input class="form-control">
                    </div>
                </div>


                <h4 align="center" style="padding:10px">Location Information</h4>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Country</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Zone</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Warehouse</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Center</label>
                        <input class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Row No</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Column No</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Shelf No</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Box No</label>
                        <input class="form-control">
                    </div>
                </div>
                <hr>

                <h4 align="center" style="padding:10px">Filter By</h4>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">By Category</label>
                        <select id="inputState" class="form-control">
                            <option selected>Bill</option>
                            <option>Invoice</option>
                            <option>Report</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">By Type</label>
                        <select id="inputState" class="form-control">
                            <option selected>Pdf</option>
                            <option>Doc</option>
                            <option>CSV</option>
                        </select>
                    </div>
                </div>
                <a href="/rms/record/home" class="btn btn-primary" role="button">Back</a>
                <button type="submit" class="btn btn-success my-1">Find Record >></button>
            </form>

        </div>


    </div>
    <div style="height:200px"></div>
</div>
<!-- /container -->









<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>