<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>User Permission</title>
<link rel="stylesheet" th:href="@{/css/permission.css}"></link>
<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>


<div class="container-fluid">

<div class="row" style="margin-top: 120px">

	<div class="col-md-6 col-md-offset-3 csi-add-permission">
	
	<h2>Add Permission</h2>
		<div class="single">
			<label>User Name : </label>
			<label th:text="${user.username}"></label>
		</div>
		<div  class="single">
			<label>First Name : </label>
			<label th:text="${user.firstName}"></label>
		</div>
		<div  class="single">
			<label>Last Name : </label>
			<label th:text="${user.lastName}"></label>
		</div>
		<div  class="single">
			<label>Designation : </label>
			<label th:text="${user.lastName}"></label>
		</div>
		<form th:action="@{/save/user/permission}" th:object="${userPermission}" method="post">
			<input type="hidden" th:field="*{activityId}"/>
			<input type="hidden" th:field="*{user.userId}"/>
			<div>
  			<label class="form-check-label" for="inlineCheckbox2">Add Permission</label>
  				<div class="form-check form-check-inline">
  					<input class="form-check-input" type="checkbox" id="inlineCheckbox2" th:field="*{docView}"/>
  					<label class="form-check-label" for="inlineCheckbox2">View</label>
  					
  					<input class="form-check-input" type="checkbox" id="inlineCheckbox2" th:field="*{docDownload}"/>
  					<label class="form-check-label" for="inlineCheckbox2">Download</label>
  					
  					<input class="form-check-input" type="checkbox" id="inlineCheckbox2" th:field="*{docEdit}"/>
  					<label class="form-check-label" for="inlineCheckbox2">Edit</label>
  					
  					<input class="form-check-input" type="checkbox" id="inlineCheckbox2" th:field="*{docPrint}"/>
  					<label class="form-check-label" for="inlineCheckbox2">Print</label>
  					
  					<input class="form-check-input" type="checkbox" id="inlineCheckbox2" th:field="*{docCreate}"/>
  					<label class="form-check-label" for="inlineCheckbox2">Create</label>
  					
  					<input class="form-check-input" type="checkbox" id="inlineCheckbox2" th:field="*{docDelete}"/>
  					<label class="form-check-label" for="inlineCheckbox2">Delete</label>
  				</div>
		</div>
		
		<input class="btn btn-primary pull-left" type="submit"/>
		<a class="btn btn-danger pull-right" href="/user/list">cancel</a>
		</form>
		
		
	</div>
</div>
</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>