.container {
    width: 100%;
    padding: 0
}

.grcheckbox {
    margin: 5px 24px 0px 9px;
!important
}

body {
    background: #ECF0F1;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans",
    sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

html {
    background: #f1f1f1 !important;
}

* * * * * * * * * custom accordion * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#integration-list {
    width: 100%;
    margin: 0 auto;
    display: table;
}

#integration-list ul {
    padding: 0;
    margin: 20px 0;
    color: #555;
}

#integration-list ul > li {
    list-style: none;
    border-top: 1px solid #ddd;
    display: block;
    padding: 15px;
    overflow: hidden;
}

#integration-list ul:last-child {
    border-bottom: 1px solid #ddd;
}

#integration-list ul > li:hover {
    background: #efefef;
}

.expand {
    display: block;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

.expand h2 {
    width: 85%;
    float: left;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

#left, #right {
    display: table;
}

#sup {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}

.detail a {
    text-decoration: none;
    color: #C0392B;
    border: 1px solid #C0392B;
    padding: 6px 10px 5px;
    font-size: 13px;
    margin-right: 7px;
}

.detail {
    margin: 10px 0 10px 0px;
    display: none;
    line-height: 22px;
    height: 150px;
}

.detail span {
    margin: 0;
}

.right-arrow {
    width: 10px;
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.accordion .panel {
    margin-bottom: 5px;
    border-radius: 0;
    border-bottom: 1px solid #efefef;
}

.accordion .panel-heading {
    background: #F2F5F7;
    padding: 13px;
    width: 100%;
    display: block;
}

.accordion .panel:hover {
    background: #F2F5F7;
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    /* border: 1px solid #E6E9ED; */
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.x_panel_doc_table {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
    background: #fff;
    /* border: 1px solid #E6E9ED; */
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.x_title .filter {
    width: 40%;
    float: right;
}

.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.x_title h2 small {
    margin-left: 10px;
}

.x_title span {
    color: #BDBDBD;
}

.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}

.x_content h4 {
    font-size: 16px;
    font-weight: 500;
}

legend {
    padding-bottom: 7px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.demo-placeholder {
    height: 280px;
}

/* *********  dashboard widget  **************************** */
table.tile h3, table.tile h4, table.tile span {
    font-weight: bold;
    vertical-align: middle !important;
}

table.tile th, table.tile td {
    text-align: center;
}

table.tile th {
    border-bottom: 1px solid #E6ECEE;
}

table.tile td {
    padding: 5px 0;
}

table.tile td ul {
    text-align: left;
    padding-left: 0
}

table.tile td ul li {
    list-style: none;
    width: 100%;
}

table.tile td ul li a {
    width: 100%
}

table.tile td ul li a big {
    right: 0;
    float: right;
    margin-right: 13px;
}

table.tile_info {
    width: 100%;
}

table.tile_info td {
    text-align: left;
    padding: 1px;
    font-size: 15px
}

table.tile_info td p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    line-height: 28px;
}

table.tile_info td i {
    margin-right: 8px;
    font-size: 17px;
    float: left;
    width: 18px;
    line-height: 28px
}

table.tile_info td:first-child {
    width: 83%;
}

td span {
    line-height: 28px;
}

/* *********  tables styling  ******************************* */
.bulk-actions {
    display: none;
}

table.countries_list {
    width: 100%;
}

table.countries_list td {
    padding: 0 10px;
    line-height: 30px;
    border-top: 1px solid #eeeeee;
}

/*.dataTables_paginate a {
	padding: 6px 9px !important;
	background: #ddd !important;
	border-color: #ddd !important;
}*/

.paging_full_numbers a.paginate_active {
    background-color: rgba(38, 185, 154, 0.59) !important;
    border-color: rgba(38, 185, 154, 0.59) !important;
}

button.DTTT_button, div.DTTT_button, a.DTTT_button {
    border: 1px solid #E7E7E7 !important;
    background: #E7E7E7 !important;
    box-shadow: none !important;
}

table.jambo_table {
    border: 1px solid rgba(221, 221, 221, 0.78);
}

table.jambo_table thead {
    background: rgba(52, 73, 94, 0.94);
    color: #ECF0F1;
}

table.jambo_table tbody tr:hover td {
    background: rgba(38, 185, 154, 0.07);
    border-top: 1px solid rgba(38, 185, 154, 0.11);
    border-bottom: 1px solid rgba(38, 185, 154, 0.11);
}

table.jambo_table tbody tr.selected {
    background: rgba(38, 185, 154, 0.16);
}

table.jambo_table tbody tr.selected td {
    border-top: 1px solid rgba(38, 185, 154, 0.40);
    border-bottom: 1px solid rgba(38, 185, 154, 0.40);
}

.dataTables_paginate a {
    background: #ff0000;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
    /* Feeling sorry for IE */
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_info {
    width: 60%;
    float: left;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

table.dataTable th.focus, table.dataTable td.focus {
    outline: 2px solid #1ABB9C !important;
    outline-offset: -1px;
}

/* Pagination nested */
table.display {
    margin: 0 auto;
    clear: both;
    width: 100%;
}

table.display thead th {
    padding: 8px 18px 8px 10px;
    border-bottom: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}

table.display tfoot th {
    padding: 3px 18px 3px 10px;
    border-top: 1px solid black;
    font-weight: bold;
}

table.display tr.heading2 td {
    border-bottom: 1px solid #aaa;
}

table.display td {
    padding: 3px 10px;
}

table.display td.center {
    text-align: center;
}

table.display thead th:active, table.display thead td:active {
    outline: none;
}

.dataTables_scroll {
    clear: both;
}

.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}

.top, .bottom {

}

.top .dataTables_info {
    float: none;
}

.clear {
    clear: both;
}

.dataTables_empty {
    text-align: center;
}

tfoot input {
    margin: 0.5em 0;
    width: 100%;
    color: #444;
}

tfoot input.search_init {
    color: #999;
}

td.group {
    background-color: #d1cfd0;
    border-bottom: 2px solid #A19B9E;
    border-top: 2px solid #A19B9E;
}

td.details {
    background-color: #d1cfd0;
    border: 2px solid #A19B9E;
}

.example_alt_pagination div.dataTables_info {
    width: 40%;
}

.paging_full_numbers {
    width: 400px;
    height: 22px;
    line-height: 22px;
}

.paging_full_numbers a:active {
    outline: none
}

.paging_full_numbers a:hover {
    text-decoration: none;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
}

.paging_full_numbers a.paginate_button {
    background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
    background-color: #ccc;
    text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
    background-color: #99B3FF;
}

table.display tr.even.row_selected td {
    background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
    background-color: #9FAFD1;
}

/* *********  /tables styleing  ****************************** */
.skin-blue-light .wrapper, .skin-blue-light .main-sidebar {
    background: #cedcea;
}

.form-group-name .form-control {
    width: 70%;
}

.form-group-code .form-control {
    width: 30%;
}

.main-footer {
    background: #cedcea;
}

#radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}

.form-horizontal .control-label {
    text-align: left;
}

.custom-form-lebel-right {
    font-size: 13px;
    text-align: right;
    padding-left: 0;
    padding-right: 7px;
    font-weight: normal;
}

.custom-details-lebel-right {
    text-align: right;
    padding-left: 0;
    padding-right: 7px;
    color: #434a54;
}

.custom-details-lebel-left {
    padding-left: 0;
    padding-right: 7px;
    /*font-weight: normal;*/
}

.custom-form-lebel {
    font-size: 12px;
    font-weight: normal;
    color: #3C8DBC;
    padding-right: 7px;
}

.custom-form-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.custom-form-sub-header {
    font-size: 13px;
    font-weight: bold;
    color: #3C8DBC;
}

.custom-form-header-div {
    margin-top: -45px;
}

.custom-details-header-div {
    margin-top: -20px;
}

.custom-form-control {
    font-size: 11px;
    height: 25px;
}

.custom-div-mar {
    margin-top: 15px;
}

.top-buffer {
    margin-top: 5px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #f6f6f6;
    cursor: default;
    background-color: #2184be;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.nav-tabs-secondary > li.active > a {
    background-color: #00a65a !important;
}

.nav-tabs-thead > li.active > a {
    background-color: #ba4949 !important;
}

.gi-input-size {
    width: 125px;
}

.gi-save-button {
    margin-top: 12px;
    margin-right: -30px;
}

.content-custom {
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.content-wrapper {
    min-height: 100%;
    background-color: #fff;
    z-index: 800;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-ca-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 15px;
}

.left-pad {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 3px;
}

.box-header.with-border {
    border-bottom: 0px;
}

.box.box-info {
    border-top-color: #ffffff;
}

.box {
    border-top: none;
}

.custom-tabs > li > a {
    line-height: 0.428571;
    border-radius: 20px 0px 25px 0;
}

.wizard > .content > .body input.has-error, .has-error {
    display: block;
    border: 1px solid red;
}

.box-info-tab .wizard > .content {
    display: block;
    margin: 0.5em;
    position: relative;
    height: 100%;
}

.wizard.vertical > .content {
    display: inline;
    float: left;
    margin: 0.5em;
    width: 90%;
}

.required:after {
    content: " *";
    color: #e32;
    display: inline;
    font-size: 15px;
}

.errorDiv {
    background: #ffc6d6;
    /*margin: 5px 15px 5px 15px;*/
    border-radius: 10px 10px 10px 10px;
}

.errorGen {
  margin: -10px 0px 20px 10px !important;
}

.grmessage {
    background: #0dc772;
    margin: 5px 15px 5px 15px;
    border-radius: 10px 10px 10px 10px;
}

.grtext {
    padding-left: 315px;
    font-size: large;
}

/* UX/UI */

/* sidebar */
.skin-blue-light .wrapper, .skin-blue-light .main-sidebar,
.skin-blue-light .left-side {
    background: #434a54;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.skin-blue-light .main-header .logo {
    background: #434a54;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    color: #00c0ef;

}

.skin-blue-light .main-header .logo:hover {
    background: #434a54;
}

.skin-blue-light .sidebar a {
    color: #fff;
    outline: none;
}

.skin-blue-light .sidebar-menu > li:hover > a, .skin-blue-light .sidebar-menu > li.active > a {
    background: #5e636b;
    color: #fff;
    outline: none;
}

.skin-blue-light .sidebar-menu > li:hover > a i, .skin-blue-light .sidebar-menu > li.active > a i {
    color: #00c0ef;
    outline: none;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 15px;
}

.skin-blue-light .sidebar-menu > li > .treeview-menu {
    /* background: #434a54; */
    background: #5e636b;
}

.skin-blue-light .treeview-menu > li.active > a, .skin-blue-light .treeview-menu > li > a:hover {
    background: #3c8dbc;
    color: #fff;
}

.skin-blue-light .sidebar-menu > li > a {
    font-size: 15px;
}

.skin-blue-light .treeview-menu > li > a {
    color: #ddd;
}

/* .skin-blue-light .treeview-menu > li > a:hover {
    color: #a6c6dc;
    opacity: 1;
    
} */

/* SIdebar End */
div.box-body-form, form {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background: #fff;
    padding: 10px 10px 30px 20px;
    overflow: hidden;
    display: block;
}

.content-custom .x_title {
    border-bottom: 0;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.content-custom .x_title h2 {
    margin: 5px 0 6px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    margin: 5px 0 6px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #434a54;
}

.content-custom .x_content {
    padding: 10px 20px;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background: #fff;
}

.custom-tabs > li > a {
    border-radius: 4px;
}

.box-info-tab .nav > li > a {
    padding: 15px 15px;
}

/* .nav-tabs {
    border-bottom: 0;
    background-color: #cedcea;
    padding: 5px !important;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
} */
.custom-form-header {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    display: block;
    text-transform: uppercase;
}

.content-custom .x_title h3 {
    margin: 5px 0 6px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #434a54;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title, .box-title {
    /* //margin: 5px 0 6px; */
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #434a54;
}

.custom-div-mar {
    margin-top: 30px;
}

.content-custom .wizard > .content {
    background: #fff;
    box-shadow: 0px 5px 20px 0px rgba(25, 25, 25, 0.12);
    border-top: 2px solid #ddd;
}

.tab-content .box-body {
    padding: 0;
}

.wizard > .content > .body label {
    display: inline-block;
    margin-bottom: 0.5em;
    color: #434a54;
    font-size: 14px;
}

.wizard ul, .tabcontrol ul {
    margin: 0 -5px;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    margin-top: 10px;
}

.box-info-tab .custom-form-header {
    margin-bottom: 15px;
}

.custom-form-lebel {
    font-size: 14px;
    color: #434a54;
}

.modal-body {
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    padding: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.close {
    float: right;
    font-size: 27px;
    color: red;
    opacity: .5;
}

.close:focus, .close:hover {
    color: red;
    opacity: 1;
}

.custom-form-control {
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e3e3;
    border-radius: 4px;
}

.modal-header h3 {
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.box-info-tab .actions ul li a {
    background: #dd4b39;
    color: #fff;
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.box-info-tab .actions ul li a:hover, .box-info-tab .actions ul li a:active {
    background: #dd4b39;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical > .actions {
    margin: 10px 3.5% !important;
}

.custom-details-lebel-right {
    text-align: left;
    padding-left: 0;
    padding-right: 7px;
}

/* Preview Page*/
.box.box-solid.box-primary > .box-header {
    color: #fff;
    background-color: #434a54;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.box.box-solid.box-primary {
    border: 0;
}

.loandetail-area-sp .box.box-info {
    border-top-color: #ffffff;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important; */
    padding-bottom: 15px;
}

.csi-complete-btn {
	margin-bottom: 15px;
	display: block;
    overflow: hidden;
    padding-bottom: 10px;
}
.csi-complete-btn #comment {
	margin-bottom: 10px s!important;
}
.document-sp .table tbody tr td {
	padding: 2px;
}
.document-sp .table tbody tr td a {
	background: #cedcea;
	padding: 5px 2px;
	display: block;
	text-align: center;
	font-weight: 700;
	border-radius: 4px;
	border-bottom: 1px solid #fff;
}
.document-sp .table tbody tr td a:hover {
	text-decoration: underline;
	background: transparent;
}
.document-sp .table tbody tr td a span{
	line-height: 8px;
}

.loandetail-creditAssessment {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin: 0;
    padding-top: 20px;
}

div.top-buffer > .input-group-date {
    float: left !important;
}

.form-sp {
    padding: 0;
    box-shadow: none;
}

.box-sp {
    margin-left: -15px;
    margin-right: -15px;
}

.document-sp {
    padding-right: 0;
    padding-left: 0;
}

.gi-save-button {
    border: 0;
}

.wizard > .content > .body input.has-error, .has-error {
    border: 1px solid red;
}

.loancaseentry-sp {
    /* background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px; */
}

.loan-init-details-sp {
    box-shadow: none !important;
}

.loandetail-area-sp .box-header > .fa, .loandetail-area-sp .box-header > .glyphicon,
.box-header > .ion, .loandetail-area-sp .box-header .box-title {
    font-weight: 700;
    text-transform: inherit;
    color: #2184be;
    margin-top: 2px;
    margin-bottom: 0;
    border-radius: 4px;
}


.loandetail-area-sp .tab-pane .box-header .box-title {
    color: #ffffff;
    margin-top: 20px;
}

.loandetail-area-sp .direct-chat .box-body {
    /*  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); */

}

.loandetail-area-sp {
    background: #f1f1f1
}

.loandetail-area-sp .box {
    position: relative;
    border-radius: 3px;
    margin: 0;
}

.loandetail-area-sp .nav-tabs {
    border-bottom: 0;
}



.loandetail-area-sp .box.box-solid.collapsed-box > .box-header {
    background-color: #cedcea;
    box-shadow: none;
    border-radius: 4px;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    
}

.loandetail-area-sp .box .box-body .btn-info {
    background-color: #2184be;
    border-color: #2184be;
    margin: 15px 15px 15px 15px;
}

.loandetail-area-sp .box-header > .ion, .box-header .custom-form-header {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #434a54;
    text-align: left;
}

.loandetail-area-sp .loancaseentry-sp .box-header.with-border {
    padding-left: 0px !important;
}

.loandetail-area-sp .loancaseentry-sp .box-header.with-border h3 {
    margin: 0;
}

.loandetail-area-sp .loancaseentry-sp .loan-init-details-sp-inner {
   
    background: #cedcea;
    /* background: red; */
    overflow: hidden;
    padding: 10px 30px;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    
}

.loan-init-details-sp {

}

.loan-init-details-sp .box-header .btn {
    background: #2184be;
    border-radius: 4px;
    color: #fff;
}

.loan-init-details-sp .tab-content .box-body {
    padding-left: 6px;
}

.loandetail-area-sp .loancaseentry-sp .box-header.with-border h3 {
    margin-top: 20px;
}

.loandetail-area-sp .loancaseentry-sp .custom-form-sub-header a {
    padding: 18px;
}

.loandetail-area-sp .loancaseentry-sp .box-info-tab .tab-pane .custom-form-sub-header a {
    padding: 15px;
}

.loandetail-area-sp .loancaseentry-sp .box-info-tab .tab-pane .tab-pane .custom-form-sub-header a {
    padding: 10px;
}

.direct-chat-messages {
    height: auto;
}

.loandetail-area-sp .loan-init-details-sp .box.box-solid.collapsed-box > .box-header {
    color: #2184be;
    /*background-color: #ddd;*/
}

.loandetail-area-sp .loan-init-details-sp .box.box-solid > .box-header {
    color: #fff !important;
}

.loandetail-area-sp .loan-init-details-sp .box.box-solid.collapsed-box > .box-header h3 {
    padding: 0 15px;
    margin: 0;
}

.loandetail-area-sp .loan-init-details-sp .box.box-solid > .box-header h3 {
    padding: 0 15px;
    margin: 0;
}

.loandetail-area-sp .box-header .box-title-sp {
    color: #2184be;
}

ul#errorGen li {
    list-style: none;
}

.errorDiv {
    background: rgba(321, 75, 57, .1);
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.errorDiv ul li {
    list-style: none;
    color: #dd4b39;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.errorDiv ul li {

}

.errorDiv ul li:first-child {
    padding-top: 15px;
}

.errorDiv ul li:last-child {
    padding-bottom: 15px;
}

.btn {
    background: #2184be;
    border-radius: 4px;
    color: #fff;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    border: 0;
    padding: 1rem 2rem;
}

.btn-xs {
    padding: 6px 9px;
    margin-bottom: 4px;
}

.btn-upload-img {
    background: #31b0d5;
    border-radius: 4px;
    color: #fff;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    border: 0;
    padding: 8px;
    display: inline-block;
}

.btn-upload-img span {
    line-height: 16px;
}

.btn-xs-dlt {
    background: rgba(172, 41, 47, .3);
    color: #ac2925;
}

.btn-xs-dlt:hover {
    background: #ac2925 !important;
    color: #fff;
    opacity: 1;
}

.btn-xs i {
    margin-right: 0 !important;
}

#losPreview {
    background: #2184be;
    border-radius: 4px;
    color: #fff;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    border: 0;
    padding: 1rem 2rem;
}

#losPreview i {
    margin-right: 5px;
}

.btn i {
    margin-right: 5px;
    opacity: .7;
}

.btn-primary {
    background: #00a65a;
}

.btn:hover {
    background: rgba(33, 132, 190, .8);
    color: #fff;
}

.btn-danger {
    background-color: #d73925;
    border-color: #d73925;
}

.btn-danger:hover {
    background-color: #d73925;
    border-color: #d73925;
}

#all-loan-info .content .current {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation-duration: 500ms;
    animation-timing-function: linear;
}

.box-info-tab .wizard > .content > .body {
    position: relative;
    width: 100%;
}

@keyframes fadeInUp {

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

}

.errorDiv1 {
    display: none;
}

/**
ASAD
**/
.docTableHeading {
    background-color: #2184be;
    color: #fff;
    padding: 13px 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
}

.loan-details-right-side-sp .table, .loan-details-right-side-sp .x_panel_doc_table {
    margin-bottom: 0;
}

.loan-details-right-side-sp .x_content {
    margin-top: 0;
}



/* .loan-details-right-side-sp .table,
.loan-details-right-side-sp .x_panel_doc_table 
 {
	margin-top: 5px;
}

.loan-details-right-side-sp .document-sp {
	margin-top: 5px;
} */
.custom-form-control-verification-comment {
    height: 63px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e3e3;
    border-radius: 4px;
}

/**
end
**/

/* NEW */
.skin-blue-light .content-wrapper, .skin-blue-light .main-footer {
    border-left: 0 !important;
}

.main-footer, .content-wrapper, .x_panel {
    background: #f1f1f1 !important;
}

.main-footer {
    border-top: 0 !important;
}

.loan-details-right-side-sp {

}

.loan-init-details-sp .tab-content .box-body {
    margin-bottom: 5px;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 15px;
}

.loan-init-details-sp .tab-content .box-body .box-body {
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 0;
    box-shadow: none;
}

.loan-init-details-sp .tab-content .box-body .box-body h3 {

}

.loandetail-area-sp .loancaseentry-sp .box-header.with-border h3 {
    margin-top: 0;
    padding-left: 10px;
}

.loandetail-area-sp .box.box-info {
    border-top-color: #ffffff;
    /* box-shadow: 0px 5px 20px 0px rgba(25, 25, 25, 0.2); */
    padding-bottom: 15px;
}

.custom-details-lebel-left {
    color: #434a54 !important;
}

.loan-details-right-side-sp .document-sp-main {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background: #fff !important;
   
    
}

.box {
    /* background: #f1f1f1 !important; */

}

/* .loandetail-area-sp .box {
    background: transparent !important;
} */

.custom-form-lebel-right {
    text-align: left;
}

.loandetail-area-sp .box-header .btn {
    padding: 5px 6px 5px 10px;
    background: #1d6b99;
    box-shadow: none;
}

.loandetail-area-sp .loan-details-left-side-sp .loan-details-left-side-sp {

}

/* .sidebar-left-scroll, 
.sidebar-right-scroll, 
.content-midle-scroll {
	margin-top: 20px;
} */
.loan-init-details-sp, .document-sp-main,
.loan-details-left-side-sp-inner {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background: #fff;
}

.loandetail-area-sp .loan-details-left-side-sp #comment {
    padding: 6px 15px;
    margin: 10px 10px 0 0;
}

.loandetail-area-sp .box-header .box-title {
    font-size: 16px;
}

.loandetail-area-sp .box-header .box-tools {
    margin-top: 3px;
}

.loandetail-area-sp .box-header h3.box-title {
    font-size: 14px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    white-space: normal;
    overflow: hidden;
}

.box-info-tab .wizard .steps ul li a {
    position: relative;
}

.box-info-tab .wizard .steps ul li a i {
    position: absolute;
    border-radius: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background: #2184be;
    color: black;
    display: none;
    z-index: 99;
    left: 60px;
    top: 10px;
    font-style: normal;
    width: 100%;
    padding: 10px;
    min-width: 190px;
}

.box-info-tab .wizard .steps ul li a:hover i {
    display: block;
}

.content-error {
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
}

.content-error p {
    font-size: 3rem;
    color: #777;
    text-align: center;
    margin-top: 1.6rem;
}

.content-error img {
    max-width: 100%;
}

.loan-details-left-side-sp .collapsed-box .box-header {
    margin-bottom: 5px;
}

.loan-details-left-side-sp .box-body #comment {
    margin-bottom: 10px;
}

.loan-init-details-sp .previewspbuttonarea .btn-primary {
    padding: 10px 1rem;
    margin: 0 2px 5px;
}

.loan-init-details-sp .previewspbuttonarea .btn-edit {
    background: #dd4b39;
}

.loan-details-left-side-sp .box-header-sp {
    margin-top: 50px;
}

/* Emon (link disabled) */
.disable-link {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.modal.modal-wide .modal-dialog {
    width: 70%;
}

.modal-body {
    overflow-y: auto;
}

/* /search box help */
.search-bar-pad {
    padding-top: 0px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 100px;
}

/* /search box help */

/* irrelevant styling
body { text-align: center; }
body p { 
  max-width: 400px; 
  margin: 20px auto; 
} */
#tallModal .modal-body p {
    margin-bottom: 300px
}

/* MIM */
.loan-details-left-side-sp .box-body {
    padding: 15px 10px 0 10px;
}

.loan-details-left-side-sp .box-body .btn {
    padding: .6rem 1.5rem;
}

.loan-details-left-side-sp .box-body .form-group {

}

.loan-details-left-side-sp .box-body .form-group label,
.loan-details-left-side-sp .box-body .form-group input {
    width: 100%;
    display: block;
}

.loan-details-left-side-sp .box-body .form-group label {
    margin-bottom: 0.5em;
    color: #434a54;
    font-size: 14px;
}

.loan-details-left-side-sp .box-body .form-group input {
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e3e3;
    border-radius: 4px;
}

/* .sidebar-left-scroll, 
.content-midle-scroll,
.sidebar-right-scroll {
	mairgin-top: 20px;
	display: block;
} */
.loandetail-area-sp {
    padding-top: 15px;
    margin-top: 70px;
}

.sidebar-mini {
	padding-right: 0 !important;
}



/* .................2nd Time Design by Riaz Sagar Start........................ */
.loancaseentry-sp {
	padding-left: 0; 
    padding-right: 0;
    /* background: red; */
    overflow: hidden;
}

..theiaStickySidebar.loancaseentry-sp {
	background: transparent ;
	padding: 0;
}

.loandetail-area-sp .loan-details-left-side-sp .loan-details-left-side-sp-inner,
.loandetail-area-sp .loan-details-right-side-sp .document-sp-main {
	background: #ffffff;
	padding: 15px 10px !important;
	min-height: 630px;
}


.loancaseentry-sp #all-loan-info {
    /* background: green; */
    /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 15px; */
}

.loancaseentry-sp .csi-loan-details-group {
    /* background: red ;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); */
    /* padding: 15px; */
    display: block;
}





.loandetail-area-sp .box.box-solid.box-primary > .box-header {
    background: #2184be;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px 6px 0 0;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.loandetail-area-sp .box-header .box-title {
    color: #ffffff;
}

.loandetail-area-sp .collapsed-box .box-header .box-title {
	color: #2184be;
}


.loandetail-area-sp .box.direct-chat-primary.collapsed-box > .box-header {
	background: #cedcea;
	border-radius: 4px;
}

.loan-init-details-sp, .document-sp-main, 
.loan-details-left-side-sp-inner {
    box-shadow: -1 1px 4px 0 rgba(0, 0, 0, 0.14);
    background: #fff;
    /* padding: 15px; */
}
.loan-init-details-sp .docTableHeading {
	background-color: #fff;
    color: #2184be;
}
.loan-details-right-side-sp .docTableHeading {
	background-color: #cedcea;
    margin-top: 5px;
    color: #2184be;
    border-radius: 4px;
}

.details-top {
    padding: 5px 10px;
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.2);
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

.details-top .logo {
	margin-top: 5px;
	display: block;
}
.csi-topbar-heading h3 {
	font-size: 21px;
	color: #cedcea;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 10px;
	text-align: center;
}

.csi-topbar-menu-area {
	display: flex;
	float: right;
}
.csi-topbar-menu-area .csi-topbar-menu-left ul {
	margin: 5px 0;
}
.csi-topbar-menu-area .csi-topbar-menu-left ul .btn {
    padding: .6rem 1.5rem;
    background: #1d6b99;
    font-weight: 700;
}
.csi-topbar-menu-area .csi-topbar-menu-left ul .btn-edit {
    background: #dd4b39 ;
}
.csi-topbar-menu-area .csi-topbar-menu-left ul li {
	padding-right: 1px;
    padding-left: 1px;
}
.csi-topbar-menu-area .csi-topbar-menu-left a i {
	color: #cedcea;
	display: none;
}
.csi-topbar-menu-area .csi-topbar-menu-left a:hover {
	position: relative;
}
.csi-topbar-menu-area .csi-topbar-menu-left a:hover i {
	position: absolute;
	opacity: 0;
	transition: all .5s linear 0;
	background: #2184be;
	padding: 2px 10px;
	border-radius: 4px;
	top: 45px;
	right: 0;
	opacity: 1;
	display: block;
	-webkit-box-shadow: 0 4px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.2);
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
}
.csi-topbar-menu-area .csi-topbar-menu-right {
	margin-right: 8px;
}
.csi-topbar-menu-area .csi-topbar-menu-right ul li a {
	color: #cedcea;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 3px;
    display: inline-block;
}


/* Tab Design */
.csi-nav-tabs-main {
	background: #2184be;
	margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    padding: 15px;
    padding-bottom: 50px;
    border-radius: 6px 6px 0 0;
}


.csi-nav-tabs-main li a {
	color: #cedcea;
	/* margin-top: 5px; */
	margin-bottom: 5px;
}
.nav-tabs li a abbr[title], 
.nav-tabs li a acronym[title] {
    text-decoration: none !important;
}
.loandetail-area-sp .loancaseentry-sp .custom-form-sub-header a {
    padding: 18px 13px;
}
.csi-nav-tabs-main li.active a,
.csi-nav-tabs-main li.active a:focus,
.csi-nav-tabs-main li.active a:hover
 {
	color: #2184be;
	background-color: #cedcea;
    border: 0;
    border-bottom-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    outline: 0;
}


.nav-tabs-thead {
	background: #cedcea;
	margin: 0;
	margin-top: -48px;
	padding: 10px 15px;
	padding-bottom: 50px
}

.nav-tabs-thead li a {
	color: #2184be;
	/* margin-top: 5px; */
	margin-bottom: 5px;
}
.nav-tabs-thead li.active a,
.nav-tabs-thead li.active a:focus,
.nav-tabs-thead li.active a:hover,
.csi-nav-tabs-secondary li.active a,
.csi-nav-tabs-secondary li.active a:focus,
.csi-nav-tabs-secondary li.active a:hover
 {
	color: #ffffff;
	background: #2184be !important;
    border: 0;
    border-bottom-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    outline: 0;
}

.csi-nav-tabs-secondary {
	background: #fff;
	padding: 10px;
	margin: 0 15px;
	margin-top: -48px;
	-webkit-box-shadow: 0 4px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.1);
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}
.csi-nav-tabs-secondary li a {
	color: #2184be;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 13px 10px !important;
}
/* Tab Design End*/

.loandetail-area-sp .tab-pane .box-header .box-title {
	font-size: 17px;
	color: #2184be;
}

.box-header-sp {
	margin-top: 5px !important;
}

.loandetail-footer-sp {
	margin: 10px;
	background: #cedcea;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.loandetail-footer-sp a, 
.loandetail-footer-sp i {
	color: #2184be;
	font-weight: 700;
}

.csi-loan-caseentry-box {
    /* background: red; */
    /* padding: 0 10px; */
    padding-left: 15px;
}
.box-header .custom-form-header {
    margin-top: 50px;
    padding-left: 15px;
}
#losPreview {
    margin-top: -35px;
    margin-bottom: 15px;
}
.csi-loan-caseentry-box .custom-form-control {
    width: 15.5%;
}


/* Collection Monitoring */
.csi-loandetail-area-new {
	
}

.csi-loandetail-area-new .loancaseentry-sp .box.box-solid.box-primary > .box-header {
    background: #cedcea;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 0;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    color: #fff;
}

.csi-loandetail-area-new .loancaseentry-sp {
    background: #fff;
    padding: 15px 15px;
}

.csi-loandetail-area-new .loancaseentry-sp .loan-init-details-sp {
	margin: 5px;
}

.csi-loandetail-area-new .loancaseentry-sp .box-header .box-title {
    color: #2184be;
}

.csi-loandetail-area-new .loancaseentry-sp .box.box-solid.box-primary.collapsed-box .box-header {
	background: #2184be;
}

.csi-loandetail-area-new .loancaseentry-sp .collapsed-box .box-header .box-title {
	color: #ffffff;
}
/* Collection Monitoring End*/

.logo img {
	max-height: 45px;
}
.csi-box-sp {
	overflow: hidden;
}

.document-sp .table tbody td .csi-btn-verify {
	    color: #fff;
    background-color: #2184be !important;
    border-color: #1b6d85 !important;
    padding: 11px 15px !important;
    margin: 10px 10px 0 0 !important;
}


/* here for Loan Search calendar work started */
 .ui-datepicker-calendar {
	 /* width: 30%;
	 background-color: #f7f7f7; */
	/* display: none !important; */
} 
.ui-datepicker-header{
	 /* width: 37%;
	 background-color: #f7f7f7;
	 text-align: center; */
}
.ui-icon-circle-triangle-e {
	float: right;
}
.ui-icon-circle-triangle-w {
	float: left;
}
.ui-icon-circle-triangle-e:hover, 
.ui-icon-circle-triangle-w:hover {
	cursor: pointer;
}
.ui-datepicker-title {
	text-align: center;
	font-weight: 700;
}
#ui-datepicker-div {
	/* position: absolute;
    top: 100%;
    left: 0; */
    z-index: 99999;
    /* float: left; */
    /* display: none; */
    max-width: 280px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #333333;
    font-size: 13px;
    line-height: 1.428571429;
    padding: 10px;
    z-index: 9999999 !important;
}
#ui-datepicker-div tr td a {
	color: #333;
	padding: 5px;
	border-radius: 6px;
}

#ui-datepicker-div tr td a:hover {
	background: rgba(0,0,0,0.2);
}
#ui-datepicker-div tr td {
	padding: 5px;
}
/* here for Loan Search calendar work End */



/* ..................2nd Time Design by Riaz Sagar End....................... */





/* >>>>>>> 0628f01459dcf1d524c575b1fd214787a5190e71 */

/* RESPONSIVE */
@media ( max-width: 1199px) {
    .box-info-tab .wizard .steps {
        width: 8%;
    }
}

/*1199 END*/

/* ----------------------------------------------------------------------
     Small devices (tablets, UP TO 991px~768px)
 -----------------------------------------------------------------------*/
@media ( max-width: 991px) {
    .box-info-tab .wizard .steps {
        width: 100%;
    }

    .wizard.vertical > .steps > ul > li {
        float: left;
        width: auto;
    }

    .wizard.vertical > .content {
        display: inline;
        float: left;
        margin: 15px;
        width: 96%;
    }

    .box-info-tab .wizard .steps ul li a:hover i {
        display: none;
    }
}

/*991 END*/

/* ---------------------------------------------------------------------
    Extra small devices (phones, less UP TO 767px)
 ----------------------------------------------------------------------*/
@media ( max-width: 767px) {

}

/*767 END*/

/* ----------------------------------------------------------------
      Custom, iPhone Retina  UP TO 480px
-------------------------------------------------------------------*/
@media ( max-width: 480px) {
    .custom-div-mar {
        margin-left: -15px !important;
        margin-top: 20px;
    }

    .content-custom .wizard > .content {
        border-top: 0;
        box-shadow: none;
    }

    .btn-login {
        background: #eee;
        border-radius: 4px;
        color: #fff;
    }

    /* remove border between controls */
    .add-on .input-group-btn > .btn {
        border-left-width: 0;
        left: -2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    /* stop the glowing blue shadow */
    .add-on .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #cccccc;
    }
}

/*480 END*/
.btn-sm {
    line-height: 0.4;
}

/*Zunied  */
div.text-center > a:first-child {
    margin-right: 10px !important;
}

div.text-center > button:first-child {
    margin-right: 10px !important;
}

/*Shuvo  */
.read-only {
    background-color: #eee;
}

.date {
    padding-right: 1px;
    padding-left: 1px;
}

div.losDatepickerCol {
    padding: 0px !important;
}

.loandetail-area-sp .loancaseentry-sp .loan-init-details-sp-inner-role {
    background: #cedcea;
    height: 50px;
    overflow: hidden;
    padding: 10px 30px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: block;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.taskClose {
    color: #fff !important;
    text-decoration: none !important;
    opacity: 1 !important;
    font-size: 15px;
}

.custom-center {
    padding-left: 40px;
}

/* /loan Search table scroll/ */

.los-table {
    table-layout: fixed;
    width: 100%;
    *margin-left: -370px; /*ie7*/
}

td, th {
    vertical-align: top;
    padding: 10px;
    width: 100px;
}

.los-fix {
    position: absolute;
    *position: relative; /*ie7*/
    margin-left: -370px;
    width: 170px;
}

.los-fix2 {
    position: absolute;
    *position: relative; /*ie7*/
    margin-left: -200px;
    width: 100px;
}

.los-fix3 {
    position: absolute;
    *position: relative; /*ie7*/
    margin-left: -100px;
    width: 100px;

}

.los-outer {
    position: relative;
}

.los-inner {
    overflow-x: scroll;
    overflow-y: visible;
    /* width: 70%; */
    max-width: 620px;
    margin-left: 370px;
}

.details-top {
    background: #2184be;
    margin-bottom: 0px;
    color: yellow;
}

.custom-center {
    padding-left: 40px;

}

.cc {
    color: yellow;
}

.in-margin {
    margin-bottom: 10px;
}

.dashboard-cont-left-matgin {
    margin-left: 0px;
}

#imagePreview > img {
    max-width: 250px;
    max-height: 250px;
    display: inline-block;
}

.box-body .form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;

}
.x-Scroll{
	overflow-x:auto;
	
}


.condition-main-div-clss .con-main,
.condition-main-div-clss .point-main, 
.condition-main-div-clss label
 {
	float: left;
	display: inline-block;
}

.condition-main-div-clss .con-main{
	width: 45%;
}
.condition-main-div-clss .point-main{
	width: 30%;
}



.condition-main-div-clss label {
	width: 10%;
	margin-top: 5px;
.adv-lms{
	    background-color: #99ec5b;
	  
}

.adv-cbs{
	    background-color: #fab05f;
	  
}
.advBorder{
	border: 1px solid #c0c0c0;
}

.br{
	border: 0px solid #c0c0c0;
}



/* New CSS By Riaz Sagar start */



/* New CSS By Riaz Sagar End */


